aiofiles==0.4.0
aiopg==0.16.0
argon2-cffi==19.1.0
asyncpg==0.18.3
behave==1.2.6
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
httptools==0.0.13
idna==2.8
logdna==1.4.2
multidict==4.5.2
nanoid==2.0.0
parse==1.12.0
parse-type==0.4.2
peewee==2.10.2
peewee-async==0.5.12
pid==2.2.3
psycopg2==2.8.3
psycopg2-binary==2.8.3
pycparser==2.19
PyJWT==2.4.0
PyYAML==5.1.1
requests==2.22.0
sanic==19.3.1
sanic-openapi==0.6.0
sh==1.12.14
six==1.12.0
ujson==1.35
urllib3==1.25.3
uvloop==0.12.2
websockets==6.0
